body {
    background-image: url(https://img.freepik.com/free-photo/particle-lines-futuristic-gradient-background_53876-104053.jpg?w=996&t=st=1724049766~exp=1724050366~hmac=69ad9249a37f4787cabb5f1b36cb47a85b3647db54d7ce0d8ab3dfc9b9b12453);
    background-repeat: no-repeat;
    background-size: cover;
}