.pagination {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}

.pagination li {
    display: inline;
    margin: 0 5px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

.pagination a.active {
    background-color: #007bff;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #f1f1f1;
}